# Data Collections 2 (Dictionaries, Sets) and Importing Modules

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>

5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [6]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245')
]

def addr_to_phone(add_book, name):
    for page in add_book:
        if page[0].lower()==name.lower() or page[1].lower()==name.lower():
            return page[3]
        elif page[0].lower()==name.lower() and page[1].lower()==name.lower():
            return page[3]
    return -1

# def addr_to_phone(add_book, name):
#   try:       
#       return [page[3] for page in add_book if page[0].lower()==name.lower() or page[1].lower()==name.lower()][0]
#   except:           
#       return -1

my_name = input("who are you looking for?\n")
print(addr_to_phone(address_book, my_name))

-1

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are ordered as of Python 3.6</p>

##### Declaring (key, value)

In [8]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...}

d1 = {}

d2 = dict()

d3 = {
    'Hank': '123 Real Street',
    'Peter': '321 Fake Street',
    'Sydney': '555 Santa Monica Blvd',
    'Tevin': '100 Rodeo Drive'
}

##### Accessing Values

In [9]:
# dict[key]
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive'}

In [10]:
print(d3['Hank'])

123 Real Street

##### .get()

In [11]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [12]:
# dict.get('key') or dict.get('key', value_if_no_key)
print(d3.get('Peter'))
print(d3.get('Brian'))

321 Fake Street
None

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be 'My favorite car is a 2018 Chevrolet Silverado'</p>

In [14]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

print(f"My favorite car is a {truck.get('year')} {truck.get('make')} {truck.get('model')}")

My favorite car is a 2018 Chevrolet Silverado

##### Adding New Pairs

In [28]:
# dict[key] = value
d3['Zooey'] = '146 Main Street'

d3

name = 'Brian'

d3[name] = '555 circle drive'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zooey': '146 Main Street',
 'Brian': '555 circle drive'}

##### Modifying Values

In [17]:
# dict[key] = value
d3['Zooey'] = '321 Fake Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive',
 'Zooey': '321 Fake Street'}

##### Removing Key, Value Pairs

In [19]:
# del dict[key]

del d3['Tevin']

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zooey': '321 Fake Street'}

In [21]:
# dict.pop('key')
removed_value = d3.pop('Zooey')

print(removed_value)

d3

321 Fake Street

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd'}

In [20]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

    If the key is not found, return the default if given; otherwise,
    raise a KeyError.

##### Looping a Dictionary

In [25]:
# .items() 

print(d3.items())

for item in d3.items():
    print(item, type(item))

dict_items([('Hank', '123 Real Street'), ('Peter', '321 Fake Street'), ('Sydney', '555 Santa Monica Blvd')])
('Hank', '123 Real Street') <class 'tuple'>
('Peter', '321 Fake Street') <class 'tuple'>
('Sydney', '555 Santa Monica Blvd') <class 'tuple'>

In [24]:
help(dict.items)

Help on method_descriptor:

items(...)
    D.items() -> a set-like object providing a view on D's items

##### Looping Only Keys

In [29]:
# .keys()

for element in d3:
    print(element)

print(d3.keys())

for key in d3.keys():
    print(key)

Hank
Peter
Sydney
Zooey
Brian
dict_keys(['Hank', 'Peter', 'Sydney', 'Zooey', 'Brian'])
Hank
Peter
Sydney
Zooey
Brian

##### Looping Only Values

In [31]:
# .values()

print(d3.values())

dict_values(['123 Real Street', '321 Fake Street', '555 Santa Monica Blvd', '146 Main Street', '555 circle drive'])

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [37]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}

for peep in people:
    print(f"{people.keys()} has {people.values()}")

dict_keys(['Max', 'Lilly', 'Barney', 'Larney', 'Ted']) has dict_values(['blue', 'brown', 'blue', 'brown', 'purple'])
dict_keys(['Max', 'Lilly', 'Barney', 'Larney', 'Ted']) has dict_values(['blue', 'brown', 'blue', 'brown', 'purple'])
dict_keys(['Max', 'Lilly', 'Barney', 'Larney', 'Ted']) has dict_values(['blue', 'brown', 'blue', 'brown', 'purple'])
dict_keys(['Max', 'Lilly', 'Barney', 'Larney', 'Ted']) has dict_values(['blue', 'brown', 'blue', 'brown', 'purple'])
dict_keys(['Max', 'Lilly', 'Barney', 'Larney', 'Ted']) has dict_values(['blue', 'brown', 'blue', 'brown', 'purple'])

In [38]:
for key, value in people.items():
    print(f"{key} has {value} eyes")

Max has blue eyes
Lilly has brown eyes
Barney has blue eyes
Larney has brown eyes
Ted has purple eyes

##### List with Dictionaries

In [40]:
# Get all keys from nested dictionary in a list
my_list = [1, 2, 3, 'hello', 'goodbye', {'a':'123', 'b':456}]
print(my_list[5])
print(my_list[5].get('b'))

{'a': '123', 'b': 456}
456

In [48]:
# List of dictionaries

movies = [
    {'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010},
    {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010},
    {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006},
    {'release_year': 2019, 'title': 'Parasite', 'director': 'Bong Joon Ho'}
]

print(movies)
print(type(movies))

[{'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010}, {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010}, {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006}, {'release_year': 2019, 'title': 'Parasite', 'director': 'Bong Joon Ho'}]
<class 'list'>

In [49]:
for movie in movies:
    print(f"Title: {movie.get('title')} - Directed By: {movie.get('director')} - {movie.get('release_year')}.")

Title: Inception - Directed By: Christopher Nolan - 2010.
Title: The Social Network - Directed By: David Fincher - 2010.
Title: The Departed - Directed By: Martin Scorsese - 2006.
Title: Parasite - Directed By: Bong Joon Ho - 2019.

##### Dictionaries with Lists

In [50]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes
random_data = {
'list1': [23, 543, 456, 32],
0: ['a', 'b', 'c']
}

print(random_data)
print(random_data[0]) # this is not index-0 this is accessing the key 0
print(random_data['list1'], type(random_data['list1']))
print(random_data['list1'][1])

{'list1': [23, 543, 456, 32], 0: ['a', 'b', 'c']}
['a', 'b', 'c']
[23, 543, 456, 32] <class 'list'>
543

In [51]:
nums = [1,2,2,2,3,3,3,3,4,4,4,6]

count = {}

for num in nums:
    if num in count:
        count[num] += 1
    else:
        count[num] = 1

count

{1: 1, 2: 3, 3: 4, 4: 3, 6: 1}

##### Dictionaries with Dictionaries

In [52]:
# to get values, must traverse through keys

my_shoppe = {
    'ice_cream': {
        'vanilla': 2.99,
        'chocolate': 2.99,
        'oreo': 2.49
    },
    'milkshake':{
        'vanilla': 3.99,
        'chocolate': 3.99,
        'oreo': 4.49
    }
}

print(my_shoppe)
print(my_shoppe.keys())
print(my_shoppe['ice_cream'], type(my_shoppe['ice_cream']))
print(my_shoppe.get('milkshake').get('chocolate'))

{'ice_cream': {'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 2.49}, 'milkshake': {'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 2.49}}
dict_keys(['ice_cream', 'milkshake'])
{'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 2.49} <class 'dict'>
2.99

## In-Class Exercise #3 - Job Applicants
<p>You are tasked with determining if an applicant has enough experience for a position. The position requires that the applicant has a Python proficiency of at least 7. Write a function that accepts a job application dictionary and returns a boolean</p>
<p>All job application dictionaries will have the same structure:</p>

In [ ]:
# {
#     'full_name': str,
#     'email': str,
#     'prog_languages': [
#         {
#             'name': str,
#             'proficiency': str,
#         },
#     ],
#     'experience': [
#         {
#             'company': str,
#             'position': str,
#             'years_at_company': [int]
#         },
#     ],
#     'us_citizen': bool
# }

In [76]:
job_app1 = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'QA',
            'years_at_company': [2014, 2015]
        }
    ],
    'us_citizen': True
}

job_app2 = {
    'full_name': 'Carmen Ferguson',
    'us_citizen': True,
    'experience': [
        {
            'company': 'Zeta',
            'position': 'Front-End Developer',
            'years_at_company': [2017, 2018]
        },
        {
            'company': 'Tech & Tech Inc.',
            'position': 'Senior Front End',
            'years_at_company': [2019, 2020, 2021]
        }
    ],
    'email': 'carmenf@myspace.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 4
        },
        {
            'name': 'JavaScript',
            'proficiency': 6
        }
    ]
}

In [75]:
def is_viable(job_app):
    languages = job_app.get('prog_languages', [])
    if languages:
        if languages[0].get('name')=='Python' and languages[0].get('proficiency')>6:
            return True
    else:
        return False

In [77]:
is_viable(job_app1) # True

True

In [58]:
is_viable(job_app2) # False

False

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [78]:
import time


# generate fake dictionary
d = {}

for i in range(10000000):
    d[i] = 'value'
    

# generate fake list
big_list = [x for x in range(10000000)]

In [79]:
# tracking time for set
start_time = time.time()

print(9999999 in d)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for dictionary: 0.00099945068359375
True
Elapsed time for list: 0.21204924583435059

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [ ]:
# set() or {}
# no order {3, 2, 1} outputs as {1, 2, 3}
first_set= set()

print(first_set)
print(type(first_set))

##### .add()

In [81]:
# set.add()
third_set = {1, 1, 1, 1,1,1,1,2,2,2,2,3,3,3,3,3,3}
third_set.add(56)

print(third_set)

{56, 1, 2, 3}

##### .remove()

In [82]:
# removes by value
# set.remove()
third_set.remove(56)

print(third_set)

{1, 2, 3}

##### .union()

In [85]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

s3 = s1.union(s2)
print(s3)

#OR

s4 = s2 | s1
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [83]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

##### .intersection()

In [86]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets
s5 = s1.intersection(s2)
print(s5)

#OR

s6 = s1 & s2
print(s6)

{3, 4}
{3, 4}

In [88]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

##### .difference()

In [91]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}


s7 = s1.difference(s2)
print(s7)
s8 = s2.difference(s1)
print(s8)

#OR - order matters in this case
s9 = s1 - s2
print(s9)

s10 = s2 - s1
print(s10)

{1, 2}
{5, 6}
{1, 2}
{5, 6}

In [87]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

##### .clear()

In [92]:
# Empties the whole set
# set.clear()

s10.clear()

print(s10)

set()

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [97]:
# frozenset([])
my_frozenset = frozenset({1, 2, 3, 4, 5})
print(my_frozenset)
print(type(my_frozenset))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

In [98]:
my_frozenset.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

In [96]:
new_dict = {
    'hello':123,
    (1, 2): 456,
    frozenset({'a', 'b'}): 'value for frozenset'
}

In [ ]:
list_comp = [i for i in range(10)]
print(list_comp)
set_comp = {i for i in range(10)}
print(set_comp)

## Sets vs. Lists (over time) Example of RUNTIME
### When inputting values in a Set vs List

In [99]:
import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [101]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for set: 0.0010004043579101562
True
Elapsed time for list: 0.2540016174316406

# Exercises

### 1) Create a program that allows a user to continue to add people to an address book until the user quits. Once the user quits, break out of the loop and print out the name and address of everyone in the address book

###### Steps
1. Create a function that will ask user for name and addresses and stores them in a dictionary
2. Define an empty dictionary with which to work (global or local variable?)
3. Begin a loop that will continue to ask a user for information until the user "quits"
4. If the user does not quit, ask for a name and address and store the variables into variables
5. Add information to the dictionary with name as the key and address as the value
6. If the user does quit, end the loop
7. Print out the information from the dictionary in a formatted way
8. Execute/Call the function

In [4]:
address_loop = {}
def address_input(i):
    while i != 'n':
        name = input('Whose name do you want to add to your address book?').lower()
        address = input(f"What is {name}'s address?").lower()
        address_loop[name] = address
        i = input('Is that all of the names? y/n').lower()

address_input('yes')
for key, val in address_loop.items():
    print(f"{key.title()} lives at {val.title()}")

Brain lives at 123 Fake Street
Tatyana lives at 321 Real Street

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a list of times they are available ('HH:MM' 24-hour). Create a function that will take in an original list plus any number of lists of teammate's available times (*remember \*args*) and return a list of times where everyone can meet.

In [2]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30'],
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00'],
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']

# Available Times: '12:00' and '14:30'

In [5]:
def detupler(*args):
    for arg in args:
        for nums in arg:
            whole_times = nums + nums
    return(whole_times)

def billy_meetup(*times):
    # set1 = set(person1) & set(person2)
    # set2 = set(person3) & set(person4)
    # set3 = set1 & set2
    # return set3

    meet = []
    for tide, time in enumerate(times):
        meet.append(time)
        # if len(time) > len(times[tide]):
        #     print(time)
            # for half in time:  
        #   meet = time + time
    new_time = set(time)
    new_meet = set(meet[0])
    meet_up = new_time & new_meet
    return list(meet_up)    


print(billy_meetup(detupler(person1, person2), person3, person4))

['14:30', '12:00']